In [1]:
import pandas as pd

In [2]:
transcations_df = pd.read_csv("../data/transactions_train.csv")
articles_df = pd.read_csv("../data/filtered_articles5k.csv")

In [3]:
acceptable_articles = articles_df['article_id'].unique()

In [4]:
filtered_transactions = transcations_df[transcations_df['article_id'].isin(acceptable_articles)]

In [5]:
filtered_transactions

,t_dat,customer_id,article_id,price,sales_channel_id
67,2018-09-20,00401a367c5ac085cb9d4b77c56f3edcabf25153615db9...,681358001,0.025407,2
121,2018-09-20,00a017d6e1010e117e3881be44027688795bf5f3c36369...,610776024,0.008458,1
123,2018-09-20,00a017d6e1010e117e3881be44027688795bf5f3c36369...,610776023,0.008458,1
130,2018-09-20,00ac5119d21281802ecd309e8c7fa0b598e0be861f21ca...,610776002,0.008458,2
155,2018-09-20,00cf4505ba84c01f03c47829352054483acb59a9492ed0...,581086004,0.016932,2
...,...,...,...,...,...
31788267,2020-09-22,ff54fe15368409b7d0d691cdeebe2d6a3fee5178105277...,885315003,0.050102,2
31788268,2020-09-22,ff54fe15368409b7d0d691cdeebe2d6a3fee5178105277...,885315003,0.050102,2
31788269,2020-09-22,ff54fe15368409b7d0d691cdeebe2d6a3fee5178105277...,885315003,0.050102,2
31788285,2020-09-22,ff732b98019465f078144bae647d7d9765d76e3431ef92...,651337004,0.016932,2
31788315,2020-09-22,ffd4cf2217de4a0a3f9f610cdec334c803692a18af08ac...,456163087,0.033881,2

In [6]:
article_id_to_gender = []

male_articles = []
female_articles = []

for index, row in articles_df.iterrows():
    if row['section_name'] == "Mens Outerwear":
        male_articles.append(row['article_id'])
        # article_id_to_gender.append({row['article_id'] : "Male"})
    else:
        female_articles.append(row['article_id'])
        # article_id_to_gender.append({row['article_id'] : "Female"})

In [7]:
male_counter = 0
female_counter = 0

rows_to_drop = []
rows_to_include = []

for index, row in filtered_transactions.iterrows():
    if row['article_id'] in male_articles and male_counter < 5000:
        male_counter += 1
    elif row['article_id'] in female_articles and female_counter < 5000:
        female_counter += 1
    else:
        rows_to_drop.append(index)

In [8]:
filtered_transactions10k = filtered_transactions.drop(rows_to_drop)

In [9]:
filtered_transactions10k

,t_dat,customer_id,article_id,price,sales_channel_id
67,2018-09-20,00401a367c5ac085cb9d4b77c56f3edcabf25153615db9...,681358001,0.025407,2
121,2018-09-20,00a017d6e1010e117e3881be44027688795bf5f3c36369...,610776024,0.008458,1
123,2018-09-20,00a017d6e1010e117e3881be44027688795bf5f3c36369...,610776023,0.008458,1
130,2018-09-20,00ac5119d21281802ecd309e8c7fa0b598e0be861f21ca...,610776002,0.008458,2
155,2018-09-20,00cf4505ba84c01f03c47829352054483acb59a9492ed0...,581086004,0.016932,2
...,...,...,...,...,...
2309739,2018-11-10,0904fe35649db0cdccf0461834bf950cc9451cc5a6813f...,551504010,0.101678,1
2309769,2018-11-10,09330c16d642e07b8835a9ecf8e31a83f93e30e6456825...,635495001,0.167797,2
2309897,2018-11-10,0a6bd483f1a332c2d05a79ebc52782d9b8f8f949a62a49...,495884006,0.091508,1
2310125,2018-11-10,0ccae8775bda8d2673e16f93c132084bfd7d8e2743e386...,637367005,0.135576,1
2310236,2018-11-10,0d6abaf72355724d85f28a0eee0800c9953c5aa89df05f...,635136001,0.101678,1

In [10]:
filtered_transactions10k.to_csv("filtered_transcations10k.csv")